
body {
	background-color: rgb(45, 64, 46);
	color:white;
	
}

img{
	width: 26px;
	height: auto;
}

.card {
	width: 100px;
	height: 125px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	color: black;
	font-weight: bolder;
	font-size:x-large
}

.card.back {
	justify-content:center;
	background-color: black;
	color: white;
}

.align-self-end.upside-down{
	transform: rotate(180deg);
}

